@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #004577;
    --accent: #ff9933;
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;
    --clr-primary-a0: #004577;
    --clr-primary-a10: #2e5785;
    --clr-primary-a20: #4b6a94;
    --clr-primary-a30: #657ea3;
    --clr-primary-a40: #7e92b2;
    --clr-primary-a50: #97a7c1;
    --dark-clr-surface-a0: #121212;
    --dark-clr-surface-a10: #282828;
    --dark-clr-surface-a20: #3f3f3f;
    --dark-clr-surface-a30: #575757;
    --dark-clr-surface-a40: #717171;
    --dark-clr-surface-a50: #8b8b8b;
    --dark-clr-surface-tonal-a0: #15171b;
    --dark-clr-surface-tonal-a10: #2a2c30;
    --dark-clr-surface-tonal-a20: #414346;
    --dark-clr-surface-tonal-a30: #595b5e;
    --dark-clr-surface-tonal-a40: #727477;
    --dark-clr-surface-tonal-a50: #8d8e90;
    --light-clr-surface-tonal-a0: #e7ebf1;
    --light-clr-surface-tonal-a10: #eaedf3;
    --light-clr-surface-tonal-a20: #eceff4;
    --light-clr-surface-tonal-a30: #eff2f6;
    --light-clr-surface-tonal-a40: #f2f4f7;
    --light-clr-surface-tonal-a50: #f4f6f9;
    --font:"Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: var(--light-clr-surface-tonal-a50);
    transition: background 0.3s, color 0.3s;
}

body.dark {
    background-color: var(--dark-clr-surface-tonal-a0);
}

.flx-rw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.flx-cl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}

a {
    text-decoration: none;
    color: var(--clr-dark-a0);
}

h1 {
    font-size: 3em;
    color: var(--clr-dark-a0);
}

h2 {
    font-size: 2.5em;
    color: var(--clr-dark-a0);
}

h3 {
    font-size: 2em;
    color: var(--clr-dark-a0);
}

p {
    font-size: 1em;
    color: var(--clr-dark-a0);
}

body.dark h1, body.dark h2, body.dark h3, body.dark p, body.dark a {
    color: var(--clr-light-a0);
}

.cta-btn {
    justify-content: flex-start;
    gap: 0 20px;
}

.btn-1 {
    padding: 7px 14px;
    border-radius: 5px;
    background-color: var(--clr-primary-a0);
    color: var(--clr-light-a0);
}

.btn-1:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn-2 {
    padding: 7px 14px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--clr-light-a0);
}

.btn-2:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.line {
    border: 1px solid var(--dark-clr-surface-tonal-a10);
    width: 100%;
}

body.dark .line {
    border: 1px solid var(--light-clr-surface-tonal-a10);
}

/* NAVBAR SECTION */
.navbar {
    background-color: var(--light-clr-surface-tonal-a50);
    border-bottom: 1px solid var(--dark-clr-surface-tonal-a50);
    padding: 10px 100px;
}

.navbar img {
    height: 4vh;
}

.nav-links a {
    padding: 7px 14px;
    margin: 0 5px;
    color: var(--dark-clr-surface-tonal-a0);
    border-radius: 10px;
}

.nav-links a.active {
    background-color: var(--light-clr-surface-tonal-a10);
}

.nav-links a:hover {
    background-color: var(--light-clr-surface-tonal-a10);
}

.nav-button {
    gap: 0 20px;
}

.hamburger {
    display: none;
    color: var(--dark-clr-surface-tonal-a0);
    font-size: 22px;
}

button#theme-toggle {
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--light-clr-surface-tonal-a50);
    border: 1px solid var(--dark-clr-surface-tonal-a10);
    border-radius: 5px;
    color: var(--clr-primary-a0);
}

button#theme-toggle i {
    font-size: 18px;
}

body.dark .navbar {
    background-color: var(--dark-clr-surface-tonal-a0);
    border-bottom: 1px solid var(--dark-clr-surface-tonal-a50);
}

body.dark .nav-links a {
    color: var(--clr-light-a0);
}

body.dark .nav-links a:hover {
    background-color: var(--dark-clr-surface-tonal-a10);
}

body.dark .nav-links a.active {
    background-color: var(--dark-clr-surface-tonal-a10);
}

body.dark button#theme-toggle {
    background-color: var(--dark-clr-surface-tonal-a0);
    color: var(--light-clr-surface-tonal-a0);
    border: 1px solid var(--dark-clr-surface-tonal-a50);
}

body.dark .hamburger {
    color: var(--light-clr-surface-tonal-a0);
}

/* HERO SECTION */
.hero-section {
    padding: 50px 100px;
}

.hero-section h1 {
    margin-bottom: 10px;
    text-align: center;
}

.hero-section p {
    text-align: center;
}

.hero-section .cta-btn {
    margin: 30px 0 50px 0;
}

.hero-section .item {
    width: 100%;
}

.hero-section .features {
    justify-content: center;
    gap: 30px;
    background-color: var(--clr-primary-a0);
    padding: 40px 0;
    font-size: 18px;
    border-radius: 10px;
}

.hero-section .features p {
    color: var(--clr-light-a0);
}

body.dark .hero-section .features {
    background-color: var(--dark-clr-surface-tonal-a10);
}

/* COURSE SECTION */
.course-section {
    padding: 50px 100px;
    gap: 20px;
}

.course-section .item {
    width: 100%;
}

.search {
    gap: 20px;
    margin-bottom: 20px;
}

#search {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    gap: 20px;
    justify-content: center;
}

.card-item {
    background-color: var(--light-clr-surface-tonal-a10);
    padding: 10px 10px 17px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    position: relative;
    align-items: flex-start;
    gap: 15px;
}

.card-item:hover {
    transform: scale(1.05);
}

.card-item img {
    width: 100%;
    border-radius: 5px;
}

.card-item h3 {
    font-size: 1.5em;
}

.card-item .cta-btn a {
    font-weight: bold;
    padding: 8px 16px;
}

body.dark .card-item {
    background-color: var(--dark-clr-surface-tonal-a10);
}

body.dark .card-item .cta-btn a {
    background-color: var(--dark-clr-surface-tonal-a50);
}

body.dark #search {
    background-color: var(--dark-clr-surface-tonal-a10);
}

/* FOOTER SECTION */
.footer-section {
    padding: 50px 100px;
    gap: 20px;
    background-color: var(--clr-primary-a0);
    color: var(--clr-light-a0);
    align-items: stretch;
}

.footer-section .flx-rw {
    gap: 20px;
    align-items: flex-start;
}

.footer-section .muhacode {
    width: 50%;
}

.footer-section img {
    width: 100%;
    background-color: var(--clr-light-a0);
    padding: 10px;
    border-radius: 10px;
}

.footer-section .flx-cl {
    gap: 7px;
    align-items: flex-start;
}

.footer-section p, .footer-section a {
    color: var(--clr-light-a0);
}

.social-icons {
    margin-top: 20px;
    justify-content: center;
}

.social-icons a {
    color: var(--clr-primary-a0);
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
    border: 1px solid var(--dark-clr-surface-tonal-a10);
    background-color: var(--light-clr-surface-tonal-a10);
    padding: 5px;
    border-radius: 5px;
}

.social-icons a:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.footer-section .social-icons a {
    color: var(--clr-primary-a0);
}

.footer-section .line {
    border: 1px solid var(--clr-light-a0);
}

body.dark .footer-section {
    background-color: var(--dark-clr-surface-tonal-a10);
}

/* RESPONSINVE */
@media (max-width:1150px) {
    .navbar, .hero-section, .course-section, .footer-section {
        padding: 25px 50px;
    }
}

@media (max-width:1050px) {
    .navbar, .hero-section, .course-section, .footer-section {
        padding: 15px 25px;
    }
}

@media (max-width:990px) {
    .navbar, body.dark .navbar {
        border-bottom: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    #navLinks {
        display: none;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 58px;
        right: 0;
        width: 100%;
        border-bottom: 1px solid var(--dark-clr-surface-tonal-a50);
        align-items: stretch;
        align-content: stretch;
        background-color: var(--light-clr-surface-tonal-a50);
    }

    body.dark .nav-links {
        background-color: var(--dark-clr-surface-tonal-a0);
    }
    .nav-links a {
        margin: 5px 30px;
    }
    .footer-section .flx-rw {
        align-items: flex-start;
        justify-content: flex-start ;
    }
    .footer-section .muhacode {
        width: 100%;
    }
}